[submodule "pack/james/start/vim-blade"]
	path = pack/james/start/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
[submodule "pack/james/start/php.vim"]
	path = pack/james/start/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "pack/james/start/youcompleteme.vim"]
	path = pack/james/start/youcompleteme.vim
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "pack/james/start/jshint.vim"]
	path = pack/james/start/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
[submodule "pack/james/start/vim-ledger"]
	path = pack/james/start/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "pack/james/start/vim-surround"]
	path = pack/james/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/james/start/vimtex"]
	path = pack/james/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/james/start/vim-mustache-handlebars"]
	path = pack/james/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "pack/james/start/vim-go"]
	path = pack/james/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/james/start/vim-angry"]
	path = pack/james/start/vim-angry
	url = https://github.com/b4winckler/vim-angry.git
