[submodule "pack/james/start/vim-blade"]
	path = pack/james/start/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
[submodule "pack/james/start/vim-surround"]
	path = pack/james/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/james/start/vimtex"]
	path = pack/james/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/james/start/vim-mustache-handlebars"]
	path = pack/james/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "pack/james/start/vim-go"]
	path = pack/james/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/james/start/vim-angry"]
	path = pack/james/start/vim-angry
	url = https://github.com/b4winckler/vim-angry.git
[submodule "pack/james/start/vim-fugitive"]
	path = pack/james/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/james/start/wmnusmv.vim"]
	path = pack/james/start/wmnusmv.vim
	url = https://github.com/wannesm/wmnusmv.vim.git
[submodule "pack/james/start/vim-fubitive"]
	path = pack/james/start/vim-fubitive
	url = https://github.com/tommcdo/vim-fubitive.git
